.Filter
{
    list-style-type: none;
    color:Black;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    height: 100%;
    border:1px solid #e8e8e8;
    margin-right: 20PX;
    
}
.Filter >li
{
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
}

.Normal{
    padding-top: 5px;
    padding-bottom: 5px;
}

.ActiveFiler
{
   background-color:#005086;
   color:white;
   
}